nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #d63384;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }

  nav a {
    font-size: 1rem;
    padding: 8px;
  }
}
.container {
  width: 100%;
  padding: 1rem;
}
.flex-wrapper {
  display: flex;
  flex-direction: column; /* pour mobile */
}

@media (min-width: 768px) {
  .flex-wrapper {
    flex-direction: row; /* pour tablette et desktop */
  }
}
